@use "./variables" as *;

.auth-page {
    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: $background;

    padding: 24px;

    &__card {

        width: 420px;

        background: $card-bg;

        padding: 40px;

        border-radius: $radius;

        box-shadow: $shadow;

    }

    &__title {

        text-align: center;

        font-size: 32px;

        font-weight: 700;

        color: $text;

        margin-bottom: 32px;

    }

    &__form {

        display: flex;

        flex-direction: column;

        gap: 18px;

    }

    &__input {

        padding: 14px;

        border-radius: 10px;

        border: 1px solid $border;

        font-size: 16px;

        transition: .2s;

        &:focus {

            outline: none;

            border-color: $primary;

            box-shadow:
            0 0 0 4px
            rgba(79,70,229,.15);

        }

    }

    &__button {

        background: $primary;

        color: white;

        border: none;

        padding: 14px;

        border-radius: 10px;

        font-size: 16px;

        cursor: pointer;

        transition: .2s;

        &:hover {

            background:
            $primary-hover;

        }

    }

    &__link {

        text-align: center;

        margin-top: 20px;

        color: #64748b;

        cursor: pointer;

        span {

            color: $primary;

            font-weight: 600;

        }

    }

}